@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-style: normal;
}.flaticon-ask3:before {
	content: "\e000";
}
.flaticon-asteroid:before {
	content: "\e001";
}
.flaticon-bald34:before {
	content: "\e002";
}
.flaticon-buddhism6:before {
	content: "\e003";
}
.flaticon-bug24:before {
	content: "\e004";
}
.flaticon-class:before {
	content: "\e005";
}
.flaticon-cockroach:before {
	content: "\e006";
}
.flaticon-fast44:before {
	content: "\e007";
}
.flaticon-headphone4:before {
	content: "\e008";
}
.flaticon-matchstick:before {
	content: "\e009";
}
.flaticon-person228:before {
	content: "\e00a";
}
.flaticon-soccer68:before {
	content: "\e00b";
}
.flaticon-society:before {
	content: "\e00c";
}
.flaticon-teacher44:before {
	content: "\e00d";
}
.flaticon-user168:before {
	content: "\e00e";
}
