@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url(./fonts/Oxygen-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(./fonts/Oxygen-Bold.ttf) format('truetype');
}


body {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  line-height: 25.5px;
  background: #fafafa;
  color: #202020;
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1#logo {
  z-index: 0;
  width: 300px;
  height: 70px;
  background-color: #000;
  padding-bottom: 5em;
  margin-left: -60px;
  text-indent: -9999px;
  background: url(../images/source_logo.svg) no-repeat left center;
  background-size: 100%;
  margin-top: -13px;
}

#tagline {
  padding: 225px 0px 0px 50px;
}


section {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 160px;
}

section#intro {
  margin-top: 20vh;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 18px;
  line-height: 1.4;
}

section#contact{
  margin-top: 5vh;
  min-height: 50vh;
}

section#services{
}

#programs img.map {
  width: 100%;
}

a {
  color: #24CC44;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #0086f9;
}

div.service {
  padding-top: 20px;
}

.brands img, #clients img, #services img {
  max-width: 100%;
  max-height: 100px;
}

.brands div {
    height: 80px;
}

div.brands{
 font-weight: normal;
 text-align: center;
 padding-top: 80px;
}

.brands p {
  margin-bottom: 40px;
}
.brands img {
  margin: 5px;
}

#clients, #programs h1 {
  font-size: 32px;
  line-height: 60px;
  text-align: center;
}

#contact {
  font-size: 25px;
  line-height: 70px;
  text-align: center;
}

#contact a {
  margin: 0 20px ;
}

#services {
}

#community {
  display: none;
}

#blog a, #community a {
  font-weight: normal;
}

#blog .feedTitle {
  display: none;
}

#blog ul {
  padding: 0;
}

#blog ul li {
  list-style-type: none;
  margin: 0 0 10px;
}

#blog #creditfooter {
  display: none;
}

#books img {
  width: 100%;
}

#people img {
  width: 25px;
  border-radius: 12px;
  margin: 0 .2em;
}
